
<div class="top-container">
  <div>
    <nav-bar class="nav-bar"></nav-bar>
    <mat-drawer-container class="nav-side-drawer-container">
      <mat-drawer sideNavService class="nav-side-drawer" mode="side">
        <ol>
          <li><button mat-button><mat-icon>photo_camera</mat-icon> View 1</button></li>
          <li><button mat-button><mat-icon>photo_camera</mat-icon> View 2</button></li>
          <li><button mat-button><mat-icon>contact_mail</mat-icon> Contact</button></li>

        </ol>

        <ul class="meas">
          <li>
            <input type="checkbox"
                   id="imperial"
                   name="unit"
                   value="imperial"
                   [(ngModel)]="imperialChecked"
                   (click)="onCheckboxClick('imperial')">
            <label for="imperial">Imperial</label>
          </li>
          <li>
            <input type="checkbox"
                   id="metric"
                   name="unit"
                   value="metric"
                   [(ngModel)]="metricChecked"
                   (click)="onCheckboxClick('metric')">
            <label for="metric">Metric</label>
          </li>
        </ul>
      </mat-drawer>
      <div>
        <main class="container main-content navbar-padding">
          <!--<app-std-out class="std-out"></app-std-out>-->
          <router-outlet></router-outlet>
        </main>
      </div>
    </mat-drawer-container>
  </div>
</div>
