.top-container {
  display: block;
  height: 100%;
  width: 100%;
}

  .top-container > div {
    display: block;
    height: 100% !important;
    width: 100% !important;
  }

.nav-side-drawer-container {
  height: 100vh;
  width: 100vw;
}

.meas ul {
  flex-direction: column;
}
