<header class="app-header">
  <div class="menu-button">
    <button mat-icon-button (click)="toggleSideNav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="logo">
    <span class="logo-text">
      <span><img class="logoimg" src="assets/images/image.psd.png" /></span>
    </span>
  </div>
  <div class="menubar">
    <nav>
      <button mat-button routerLink="/">Main Page</button>
      <button mat-button routerLink="/scan">Scan Page</button>
      <button mat-button routerLink="/hub">Control Page</button>
    </nav>
  </div>
</header>
