.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background-color: #341610;
}

button {
  color: white;
  font-family: sans-serif;
  font-size: 0.7em;
  transition: 0.4s;
}

.menubar {
  width: 50%;
  margin-left: 0.5em;
}

  .menubar > nav {
    display: flex;
    justify-content: space-between;
  }

.logo span {
  color: #12f072;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logo-text {
  display: inline-block;
  height: 50vh;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}
