<!--<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />-->
<!--<input type="checkbox" id="check">
<label for="check">
  <i class="material-symbols-outlined" id="btn"></i>
</label>-->
<!--<app-urgent></app-urgent>-->
<!--<app-livefeed></app-livefeed>-->
<!--<div class="video-array">

  

  <ul>
    <li *ngFor="let sensor of sensorService.getAllSensors()">{{sensor.name}}</li>
  </ul>
  <ul>
    <li *ngFor="let control of controlService.getAllControls()">{{control.name}} - {{control.state}} </li>-->
    <!--<li> *ngFor="let control of controlService.turnOn()">{{control.state}}</li>-->

  <!--</ul>
  <h4>Here are your precious little plants:</h4>
  <div class="svg-cont">
    <app-svg></app-svg>
  </div>
</div>-->

<h1>Home Page</h1>

<app-livefeed-view></app-livefeed-view>

<div>
  <!-- Buttons to toggle control state -->
   <h2>Water pump</h2>
  <button (click)="writePinHighWater(13)">Turn ON</button>
  <button (click)="writePinLowWater(13)">Turn OFF</button>
  <h3 *ngIf="gpioStatusWater | async as value">
    PinNum: {{value.PinNum}}<br />
    Value: {{value.Value}}<br/>
    Mode: {{value.Mode}}<br/>
  </h3>
  <h2>Grow Light</h2>
  <button (click)="writePinHighLight(15)">Turn ON</button>
  <button (click)="writePinLowLight(15)">Turn OFF</button>
  <h3 *ngIf="gpioStatusLight | async as value">
    PinNum: {{value.PinNum}}<br />
    Value: {{value.Value}}<br/>
    Mode: {{value.Mode}}<br/>
  </h3>
</div>
<div class="set blue">
  <nav class="o-pad">
    <a class="up" (click)="getStep('x_axis', 2)"></a>
    <a class="right" (click)="getRun('x_axis', 1000)"></a>
    <a class="down" (click)="getStep('x_axis', 2)"></a>
    <a class="left" (click)="getRun('x_axis', 1000)"></a>  
  </nav>
</div>
<div>

  <h1 *ngIf="stepperStatus | async as value">
    StepperUid: {{value.StepperUid}}<br />
    Value: {{value.Value}}
  </h1>
  

  </div>
  
  <img [src]="imgSrc|async" />


